[submodule "Configs/Vim/bundle/surround"]
	path = Configs/Vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "Configs/Vim/bundle/repeat"]
	path = Configs/Vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "Configs/Vim/bundle/unimpaired"]
	path = Configs/Vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "Configs/Vim/bundle/eunuch"]
	path = Configs/Vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "Configs/Vim/bundle/nerdtree"]
	path = Configs/Vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "Configs/Vim/bundle/nerdcommenter"]
	path = Configs/Vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "Configs/Vim/bundle/html5"]
	path = Configs/Vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "Configs/Vim/bundle/argtextobj"]
	path = Configs/Vim/bundle/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "Configs/Vim/bundle/FuzzyFinder"]
	path = Configs/Vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "Configs/Vim/bundle/L9"]
	path = Configs/Vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "Configs/Vim/bundle/VisIncr"]
	path = Configs/Vim/bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "Configs/Vim/bundle/tlib"]
	path = Configs/Vim/bundle/tlib
	url = https://github.com/vim-scripts/tlib.git
[submodule "Configs/Vim/bundle/fugitive"]
	path = Configs/Vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "Configs/Vim/bundle/matchit"]
	path = Configs/Vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "Configs/Vim/bundle/python-matchit"]
	path = Configs/Vim/bundle/python-matchit
	url = https://github.com/voithos/vim-python-matchit.git
[submodule "Configs/Vim/bundle/pony"]
	path = Configs/Vim/bundle/pony
	url = https://github.com/jmcomets/vim-pony.git
[submodule "Configs/Vim/bundle/switch"]
	path = Configs/Vim/bundle/switch
	url = https://github.com/AndrewRadev/switch.vim.git
