<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="Root">
		<item label="Firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="Rxvt Unicode">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<separator/>
		<menu id="system-menu" label="System">
			<item label="Openbox Configuration Manager">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Reconfigure Openbox">
				<action name="Reconfigure"/>
			</item>
			<item label="Restart Openbox">
				<action name="Restart"/>
			</item>
			<separator/>
			<item label="Restart">
				<action name="Execute">
					<execute>reboot</execute>
				</action>
			</item>
			<item label="Shutdown">
				<action name="Execute">
					<execute>shutdown -hP now</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
